# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [1]:
import pandas
pandas.__version__

'1.3.4'

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [2]:
import numpy as np
import pandas as pd

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [3]:
a=pd.Series([10,12,14,16,28])
a

0    10
1    12
2    14
3    16
4    28
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [7]:
a.values

array([10, 12, 14, 16, 28], dtype=int64)

In [8]:
a.index

RangeIndex(start=0, stop=5, step=1)

We can assign meaningful labels to the index, if they are available:

In [9]:
c=pd.Series([200,240,358,389,280,158],index=["red","green","blue","orange","yellow","pink"])
c

red       200
green     240
blue      358
orange    389
yellow    280
pink      158
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [11]:
c["red"]

200

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [13]:
c[0]

200

We can give both the array of values and the index meaningful labels themselves:

In [14]:
c.name="abc"
c.index.name="dfg"
c

dfg
red       200
green     240
blue      358
orange    389
yellow    280
pink      158
Name: abc, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [15]:
np.log(c)

dfg
red       5.298317
green     5.480639
blue      5.880533
orange    5.963579
yellow    5.634790
pink      5.062595
Name: abc, dtype: float64

We can also filter according to the values in the `Series`:

In [16]:
c[c==389]

dfg
orange    389
Name: abc, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [17]:
d={"apple":"red","orange":"green"}
print(d)
pd.Series(d)

{'apple': 'red', 'orange': 'green'}

apple       red
orange    green
dtype: object

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [21]:
d2={"apple":["red","green"],"banana":["green","yellow"]}
print(d2)
d2=pd.DataFrame(d2)
d2

{'apple': ['red', 'green'], 'banana': ['green', 'yellow']}

   apple  banana
0    red   green
1  green  yellow

To change the order of the columns:

In [24]:
d1=pd.DataFrame(d2,columns=["banana","apple"])
d1

   banana  apple
0   green    red
1  yellow  green

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [27]:
d1["mango"]=d1.banana+d1.apple
d1

   banana  apple        mango
0   green    red     greenred
1  yellow  green  yellowgreen

In [28]:
d1["Seri"]=pd.Series(range(5),index=[0,2,1,4,3])
d1

   banana  apple        mango  Seri
0   green    red     greenred     0
1  yellow  green  yellowgreen     2

Passing a dicts where the values are dicts is also possible

In [36]:
d1.to_dict()

{'banana': {0: 'green', 1: 'yellow'},
 'apple': {0: 'red', 1: 'green'},
 'mango': {0: 'greenred', 1: 'yellowgreen'},
 'Seri': {0: 0, 1: 2}}

In [38]:
print(pd.Series(d1.to_dict()))
pd.DataFrame(d1.to_dict())

banana            {0: 'green', 1: 'yellow'}
apple                {0: 'red', 1: 'green'}
mango     {0: 'greenred', 1: 'yellowgreen'}
Seri                           {0: 0, 1: 2}
dtype: object

   banana  apple        mango  Seri
0   green    red     greenred     0
1  yellow  green  yellowgreen     2

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [40]:
data=[{"n1":i,"n2":10*i} for i in range(6)]
print(data)
pd.DataFrame(data)

[{'n1': 0, 'n2': 0}, {'n1': 1, 'n2': 10}, {'n1': 2, 'n2': 20}, {'n1': 3, 'n2': 30}, {'n1': 4, 'n2': 40}, {'n1': 5, 'n2': 50}]

   n1  n2
0   0   0
1   1  10
2   2  20
3   3  30
4   4  40
5   5  50

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [44]:
pd.DataFrame([{"aa":12,"bb":21},{"bb":21,"cc":14}])

     aa  bb    cc
0  12.0  21   NaN
1   NaN  21  14.0

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [50]:
pd.DataFrame(np.random.randint(2,14),columns=["Banana","Mango"],index=["raw","ripe"])

      Banana  Mango
raw        3      3
ripe       3      3

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [51]:
ind=pd.Index([32,48,90,24,14,12,36,79])
ind

Int64Index([32, 48, 90, 24, 14, 12, 36, 79], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [52]:
ind[1]

48

In [54]:
ind[::2]

Int64Index([32, 90, 14, 36], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [55]:
print(ind.size,ind.dtype,ind.ndim,ind.shape)

8 int64 1 (8,)

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [56]:
ind[2]=4

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [67]:
r=np.random.RandomState(10)
s=pd.Series(r.randint(0,10,10))
s

0    9
1    4
2    0
3    1
4    9
5    0
6    1
7    8
8    9
9    0
dtype: int32

In [71]:
sr=pd.DataFrame(r.randint(0,10,(7,3)),columns=["a","b",'c'])
sr

   a  b  c
0  3  6  5
1  3  9  6
2  9  1  9
3  4  2  6
4  7  8  8
5  9  2  0
6  6  7  8

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [72]:
np.exp(s)

0    8103.083928
1      54.598150
2       1.000000
3       2.718282
4    8103.083928
5       1.000000
6       2.718282
7    2980.957987
8    8103.083928
9       1.000000
dtype: float64

Or, for a slightly more complex calculation:

In [73]:
np.sin(2*np.pi*sr)

              a             b             c
0 -7.347881e-16 -1.469576e-15 -1.224647e-15
1 -7.347881e-16 -2.204364e-15 -1.469576e-15
2 -2.204364e-15 -2.449294e-16 -2.204364e-15
3 -9.797174e-16 -4.898587e-16 -1.469576e-15
4 -1.714506e-15 -1.959435e-15 -1.959435e-15
5 -2.204364e-15 -4.898587e-16  0.000000e+00
6 -1.469576e-15 -1.714506e-15 -1.959435e-15

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [74]:
a=pd.Series({"apple":4567,"mango":4562,"orange":3451,"bel":4568},name="a")
p=pd.Series({"red":3456,"green":3456,"orange":4567,"blue":9874},name="p")
print(a)
print(p)

apple     4567
mango     4562
orange    3451
bel       4568
Name: a, dtype: int64
red       3456
green     3456
orange    4567
blue      9874
Name: p, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [75]:
p/a

apple          NaN
bel            NaN
blue           NaN
green          NaN
mango          NaN
orange    1.323385
red            NaN
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [77]:
p.index|a.index

C:\Users\Varshini\AppData\Local\Temp/ipykernel_2928/2253129376.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  p.index|a.index

Index(['apple', 'bel', 'blue', 'green', 'mango', 'orange', 'red'], dtype='object')

In [84]:
x=pd.Series([2,8,4],index=[0,1,2])
m=pd.Series([7,3,5],index=[2,3,1])
print(x)
print(m)
x+m

0    2
1    8
2    4
dtype: int64
2    7
3    3
1    5
dtype: int64

0     NaN
1    13.0
2    11.0
3     NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [85]:
x.add(m,fill_value=0)

0     2.0
1    13.0
2    11.0
3     3.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [90]:
df=pd.DataFrame({"Year":[2017,1019,2345],"Literacy":[0.6,0.00002,0.89],"Province":["AB","SD","FM"]})
df

   Year  Literacy Province
0  2017   0.60000       AB
1  1019   0.00002       SD
2  2345   0.89000       FM

In [92]:
df2=pd.DataFrame({"Province":["AB","SD","FM"],"Population":[123456,4567,34567]})
df2

  Province  Population
0       AB      123456
1       SD        4567
2       FM       34567

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [94]:
  # merge is smart! If there are overlapping names, it uses those for the merge
df.merge(df2)

   Year  Literacy Province  Population
0  2017   0.60000       AB      123456
1  1019   0.00002       SD        4567
2  2345   0.89000       FM       34567

If the column names are different, you need to specify them explicitely

In [97]:
df3=pd.DataFrame({"Province":["AB","SD"],"Population":[34564567,2345678]})
print(df3)
df.merge(df3,right_on="Province",left_on="Province")

  Province  Population
0       AB    34564567
1       SD     2345678

   Year  Literacy Province  Population
0  2017   0.60000       AB    34564567
1  1019   0.00002       SD     2345678

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [98]:
df4=pd.DataFrame({"Province":["AB","SD","UT"],"population":[2344567,34567,56789]})
df.merge(df4,how="outer")

     Year  Literacy Province  population
0  2017.0   0.60000       AB   2344567.0
1  1019.0   0.00002       SD     34567.0
2  2345.0   0.89000       FM         NaN
3     NaN       NaN       UT     56789.0

Check this out:

In [100]:
df4=pd.DataFrame({"Province":["AB","SD","FM"],"population":[2344567,34567,56789]})
print(df)
df.merge(df4,how="outer")

   Year  Literacy Province
0  2017   0.60000       AB
1  1019   0.00002       SD
2  2345   0.89000       FM

   Year  Literacy Province  population
0  2017   0.60000       AB     2344567
1  1019   0.00002       SD       34567
2  2345   0.89000       FM       56789

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [108]:
a=pd.Series([np.nan,3.8,np.nan,7.8,8.5],index=["a","b","c","d","e"])
b=pd.Series(np.arange(len(a),dtype=np.float64),index=["a","b","c","d","e"])

In [109]:
a

a    NaN
b    3.8
c    NaN
d    7.8
e    8.5
dtype: float64

In [110]:
b

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [111]:
pd.Series(np.where(pd.isnull(a),b,a),index=a.index)

a    0.0
b    3.8
c    2.0
d    7.8
e    8.5
dtype: float64

That's a bit verbose for something so simple. What about this:

In [113]:
a.combine_first(b)

a    0.0
b    3.8
c    2.0
d    7.8
e    8.5
dtype: float64

In [114]:
a

a    NaN
b    3.8
c    NaN
d    7.8
e    8.5
dtype: float64

In [115]:
b

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [116]:
a.combine_first(b)

a    0.0
b    3.8
c    2.0
d    7.8
e    8.5
dtype: float64